<div class="center">
<contact></contact>
</div>

<div class="center" style="font-weight: bold;">
    Contattaci!<br>
    Telefono<br>
    (dal lunedì alla domenica, inclusi i giorni festivi, dalle ore 8.00 alle 22.00)<br>
    Assistenza telefonica 177<br>
    
    Da un altro numero: 3467883432<br>
   
 
</div>
<div class="center"> <a href="https://sethlans01.github.io/school/4F%20-%20Tecnologia/4F%20e57cef2d01724f01b39eaf4448f813e9/3.12Esercizio4.html">Scopri la sezione assistenza del sito.</a><br></div>
<footers></footers>